@model IEnumerable<PROJET_FINAL.Commande>
@{
    ViewBag.Title = "Index";
}


<h2>Commande disponible</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Information</th>
            <th>Date</th>
            <th>Supprimer</th>
        </tr>
        @foreach (Commande commande in Model)
        {
            <tr>
                <td>@commande.InfosSup</td>
                <td>@commande.DateComm</td>
                <td><a class="pointer-arrow" onclick="deleteRow(@commande.IdCommande)">Supprimer</a></td>
            </tr>
        }
    </table>
</body>
</html>

<script>
    function deleteRow(id) {
        var r = confirm("Voulez vous vraiment supprimer ceci?");
        if (r == true) {
            window.location.assign("/CommCourant/Supprimer/" + id);
        }
    }
</script>
<style type="text/css">
    .pointer-arrow:hover {
        cursor: pointer;
    }
</style>


