<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
    <h1 align="center" style="color: black">NOTRE ÉQUIPE</h1>
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/TsiChum.jpg" alt="" height="200" width="150">
            </td>
            <td>
                <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">
                    Sean Whalen
                </h4>
                <a href="mailto:theseanwhalen@gmail.com" target="_top">theseanwhalen@gmail.com</a>
                <div>
                    <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; font-size: 16px">
                        Dans mes temps libres, j’aime beaucoup jouer à des jeux de style « esports
                        ». Je suis quelqu’un de très compétitif qui trouve satisfaction dans
                        les jeux d’équipes. De plus, je passe beaucoup de temps à suivre des
                        formations sur différents langages/architectures sur YouTube ou Udemy.
                    </p>
                </div>
            </td>
            <td>
                <img src="~/Content/Images/Filix.jpg" alt="" height="200" width="150">
            </td>
            <td>
                <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">
                    Félix Massé
                </h4>
                <a href="mailto:felix.masse@hotmail.com" target="_top">felix.masse@hotmail.com</a>
                <div>
                    <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; font-size: 16px">
                        Enthousiaste de « esports », particulièrement league of legends, j'aime résoudre des problèmes complexe
                        et apprendre des nouvelles technologies.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Notre superviseur : Alexandre André-Lespérance </h4>           
        </tr>
    </table>
    <br />
    <h1 align="center" style="color: black">NOTRE PROJET</h1>
    <h2>Description</h2>
    <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; font-size:20px">Les amis de la poste est une application web et mobile qui permet aux utilisateurs clients
    de passer des commandes de tout type et ensuite permet aux utilisateurs livreurs de compléter ces commandes et gagner de l’argent en le faisant.
    Les utilisateurs clients se connectent sur le site ou l’application mobile et remplissent un formulaire de commande et rendent ensuite leurs commandes
    disponibles à tous les livreurs associés aux amis de la poste. 
    Les utilisateurs clients ont aussi accès à une page qui leur permet de voir leurs commandes en cours
    et peuvent les annuler aux besoins (si aucun livreur n’a pas déjà réclamé la commande). 
    De leur côté, les livreurs peuvent choisir les commandes qui leur convient.</p>
    <h1 align="center">Les informations affichées par les pages listes ne sont pas final</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:540px; width:960px">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/login.png" alt="">
                <div class="carousel-caption">
                    <h3>Le login</h3>
                    
                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/registerclient.png" alt="">
                <div class="carousel-caption">
                    <h3>Le register</h3>

                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/voircommandeclient.png" alt="">
                <div class="carousel-caption">
                    <h3>Voir les commandes client</h3>

                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/meslivraison.png" alt="">
                <div class="carousel-caption">
                    <h3>Mes livraisons livreur</h3>

                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/commandedispo.png" alt="">
                <div class="carousel-caption">
                    <h3>Commandes disponibles pour livreur</h3>
                    <p>Les points d'exclamations sont afficher quand la commande est là depuis longtemps</p>

                </div>
            </div>

            <div class="item">
                <img src="~/Content/Images/commandeclient.png" alt="">
                <div class="carousel-caption">
                    <h3>Passer une commande</h3>

                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    <br />
    <div>
        <iframe width="960" height="540" src="https://www.youtube.com/embed/DA-DiNxw1lo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
