</br><h1>Contactez-nous!</h1>

<address>
    <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Les Amis de la Poste<br />
        Collège Lionel-Groul, Ste-Thérèse, QC<br />
        <abbr title="Phone">P:</abbr>
        438-728-1599</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@LADLP.com</a><br />
    <strong>Informations Générales:</strong> <a href="mailto:Marketing@example.com">Infos@LADLP.com</a>
</address>


<div>
    <h2>
        Sean Whalen
    </h2>
    <img src="~/Content/Images/TsiChum.jpg" alt="">
    <div>
        Testing de description brudder
    </div>
</div>