<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
    <h1>NOTRE ÉQUIPE</h1>
    <table>
        <tr>
            <td>
                <img src="~/Content/Images/TsiChum.jpg" alt="" height="200" width="150">
            </td>
            <td>
                <h4>
                    Sean Whalen
                </h4>
                <a href="mailto:theseanwhalen@gmail.com" target="_top">theseanwhalen@gmail.com</a>
                <div>
                    Testing de description brudder
                </div>
            </td>
            <td>
                <img src="~/Content/Images/Filix.jpg" alt="" height="200" width="150">
            </td>
            <td>
                <h4>
                    Félix Massé
                </h4>
                <a href="mailto:felix.masse@hotmail.com" target="_top">felix.masse@hotmail.com</a>
                <div>
                    Testing de description brudder
                </div>
            </td>
        </tr>
        <tr>
            <h4>Notre superviseur : ALEXANDRE </h4>
        </tr>
    </table>
    <br />
    <h1>NOTRE PROJET</h1>
    <h2>Description</h2>
    <p>Voici la description du projet</p>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:540px; width:960px">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Images/test.png" alt="">
            </div>

            <div class="item">
                <img src="~/Content/Images/test.png" alt="">
            </div>

            <div class="item">
                <img src="~/Content/Images/test.png" alt="">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    <br />
    <div>
        <iframe width="960" height="540" src="https://www.youtube.com/embed/4LfJnj66HVQ"></iframe>
    </div>
</div>
