@{
    ViewBag.Title = "Accueil";
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Accueil</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/CSS/linearicons.css">
    <link rel="stylesheet" href="~/CSS/font-awesome.min.css">
    <link rel="stylesheet" href="~/SS/bootstrap.css">
    <link rel="stylesheet" href="~/CSS/magnific-popup.css">
    <link rel="stylesheet" href="~/CSS/nice-select.css">
    <link rel="stylesheet" href="~/CSS/animate.min.css">
    <link rel="stylesheet" href="~/CSS/owl.carousel.css">
    <link rel="stylesheet" href="~/CSS/main.css">
</head>
<body>
    <!-- start banner Area -->
    
    <!-- End banner Area -->
    <!-- Start service Area -->
    <section class="service-area section-gap" id="service">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 pb-50 header-text text-center">
                    <h1 class="mb-10">Ce que nous offrons à nos clients</h1>
                    <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                       Qui utilisent notre système révolutionaire..
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-service">
                        <div class="thumb">
                            <img src="~/Content/Images/o1.jpg" alt="">
                        </div>
                        <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Un service dynamique</h4>
                        <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                            Une équipe jeune et dynamique est prêt à vous supporter.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service">
                        <div class="thumb">
                            <img src="~/Content/Images/o2.jpg" alt="">
                        </div>
                        <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Un support téléphonique</h4>
                        <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                            Appelez à tout heures entre 8h am et 23h pm.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service">
                        <div class="thumb">
                            <img src="~/Content/Images/o3.jpg" alt="">
                        </div>
                        <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Un service varié</h4>
                        <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                            De la livraison d'un sac de chips à la réparation de votre imprimante, tout est possible!
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-service">
                        <div class="thumb">
                            <img src="~/Content/Images/o4.jpg" alt="">
                        </div>
                        <h4 style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Un service sans souci</h4>
                        <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">
                            Relaxez-vous dans votre lit pendant que nous nous occupons de tout.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service Area -->
    
    
    <!-- Start work-process Area -->
    <section class="work-process-area pt-120">
        
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-7">
                    <div class="title text-center">
                        <h1 class="mb-10">Le fonctionnement de notre service</h1>
                        <p style="color:#fff; text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;">Se faire livrer quelque chose n'aura jamais été aussi facile!</p>
                    </div>
                </div>
            </div>
            <div class="total-work-process d-flex flex-wrap justify-content-around align-items-center">
                <div class="single-work-process">
                    <div class="work-icon-box">
                        <span class="lnr lnr-pencil"></span>
                    </div>
                    <h4 class="caption" style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Création de la commande</h4>
                </div>
                
                <div class="single-work-process">
                    <div class="work-icon-box">
                        <span class="lnr lnr-layers"></span>
                    </div>
                    <h4 class="caption" style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Assignation d'un livreur</h4>
                </div>
                
                <div class="single-work-process">
                    <div class="work-icon-box">
                        <span class="lnr lnr-store"></span>
                    </div>
                    <h4 class="caption" style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Achat du produit</h4>
                </div>
                
                <div class="single-work-process">
                    <div class="work-icon-box">
                        <span class="lnr lnr-smile"></span>
                    </div>
                    <h4 class="caption" style="color:#000; text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;">Livraison à votre porte!</h4>
                </div>
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
    </section>
    <!-- End work-process Area -->
    <script src="~/Scripts/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="~/Scripts/easing.min.js"></script>
    <script src="~/Scripts/hoverIntent.js"></script>
    <script src="~/Scripts/superfish.min.js"></script>
    <script src="~/Scripts/mn-accordion.js"></script>
    <script src="~/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.nice-select.min.js"></script>
    <script src="~/Scripts/jquery.circlechart.js"></script>
    <script src="~/Scripts/mail-script.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>
</html>